.wbkButtonStyle1
{
    background-color: #589787;
    color: white;
}

.wbkButtonStyle2
{
    border-color: #589787;
    border-style: solid;
    background-color: white;
    color: #589787;
}

.wbkTabStyle
{
    color: #589787;
}